name: Release CI

on:
  push:
    tags:
      - "*.*.*"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: ./gradlew distTar distZip
    - name: GitHub Release
      uses: softprops/action-gh-release@v0.1.4
      with:
        file: ekuity/build/distributions/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Update Homebrew Tap
      uses: izumin5210/action-homebrew-tap@v1.0.0
      with:
        tap: takusemba/homebrew-ekuity
        token: ${{ secrets.GITHUB_TOKEN }}
        tap-token: ${{ secrets.GITHUB_TOKEN }}
        commit-message: fomula file updated
          
